/*#660000 Maroon
ed2939 light maroon*/

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(images/background-gbda91dfef_1920.jpg);
    margin:0;
    background-size: cover;
}
h1{
    text-align: center;
    text-shadow: 3px 3px 3px #660000;
}
header{
    height: 130px;
    background-color: #660000;
    margin: 0;
}
header img{
    padding-left: 20px;
    padding-top:5px;
}
nav{
    background-color: #710000;
    margin:0;
    min-height:30px;
    padding-top: 10px;
    padding-left: 30px;
}
nav a{
    color:white;
}
#wrapper{
    padding-left: 20px;
    padding-right: 20px;
    width: 1000px;
    margin: auto;
    background-color: rgba(218, 178, 78, 0.664);
}
#list h2{
    text-align: center;
}
#music{
    padding-right:75px;
}
#music h3{
    padding-left: 475px;
}
#music ul{
    width:500px;
    padding-left: 150;
    margin:auto;
}
#music img{
 margin-right: 15px;
 float:left;
 box-shadow: 5px 3px 3px #660000;
}
#booty{
    padding-left: 165px;
}
#booty h3{
    padding-left:300px;
}

#booty img{
    float:right;
    margin-left: 15px;
    box-shadow: -5px 3px 3px #660000;
}
#booty ul{
    Width:500px;
    text-align: center;
    padding-left: 100px;
}

footer{
    margin-top:0;
    padding: top 30px;
    text-align: center;
    margin-left: 50px;
    background-color: rgba(218, 178, 78, 0.664);
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
    font-size: 14pt;
}
footer a:link{
    color: blue;
}
footer a:hover{
    color:fuchsia;
}